input {
    padding: 5px;
}

small {
    color: #a60000 !important;
}

.margin {
    margin: 5px;
}

.row {
    padding: 0;
}

.form-inline {
    margin: 0;
}

#vis {
    position: relative;
}

#vis canvas, #info {
    position: absolute;
}

#info-panel {
    margin: 30px;
}

.panel-body {
    width: 15em;
}

.panel {
    background: none!important;
}

.panel-transparent {
    background: none;
    border-color: #000000;
}

.panel-transparent .panel-heading{
    background: rgba(243,243,243,0.8)!important;
}

.panel-transparent .panel-body{
    background: rgba(255, 255, 255, 0.2)!important;
}



/*
    From http://stackoverflow.com/questions/11235206/twitter-bootstrap-form-file-element-upload-button
*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}